
.wrapper {
	background: #8a7abb;
	
}


header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0; 
    }

.container {
	max-width: 1180px;
    width: 70%;
	margin: 0 auto;
	text-align: left;
}

.clearfix::after {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}

section {
	position: relative;
}

.show-menu {
    top: 0;
    transition: top .5s;
}

.hide-menu {
    top: -75px;
    transition: top .5s;
}

.fixed-header {
    position: fixed;
    top: -75px;
    background: rgba(40,40,40,.95);
}

.hidden{
     opacity: 0;
}

.visible{
     opacity: 1;
}

.logo {
    position: absolute;
    width: 73px;
    height: 38px;
    top: 20px;
    left: 30px;
    overflow: hidden;
    background: url("../img/logo.png") 50% 50%/contain no-repeat;
    transition: all .3s ease 0s;
    }


.nav_menu {
    display: none;
}

.show-menu {
    top: 0;
    transition: top .5s;
}


nav {
    float: right;
}

nav a {
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #fff!important;
    text-decoration: none;
    padding-top: 30px;
    border: 3px solid transparent;
    margin: 0 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

header nav li span {
    display: block;
    height: 6px;
    width: 100%;
    top: -9px;
    position: absolute;
    background: #fff;
    transition: top .2s;
}

/* header nav_menu */
header nav li {
  display: inline-block;
  font-size: 0;
}

header nav li a {
  position: relative;
}

header nav li span {
  display: block;
  height: 6px;
  width: 100%;
  top: -9px;
  position: absolute;
  background: #fff;
  transition: top .2s;
}

header nav .active span {
  top: -6px;
}

header nav a:hover span {
  top: -4px;
}
header .logo {
  position: absolute;
  width: 73px;
  height: 38px;
  top: 20px;
  left: 30px;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat center center;
  background-size: cover;
  transition: all .3s;
}
header .logo a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: block;
}
.fixed-header {
  position: fixed;
  top: -75px;
  background: rgba(40, 40, 40, 0.95);
}
.show-menu {
  top: 0;
  transition: top .5s;
}
.hide-menu {
  top: -75px;
  transition: top .5s;
}


.nav_menu {
  position: fixed;
  right: -300px;
  top: 0;
  height: 100%;
  width: 300px;
  z-index: 300;
  background: #282828;
  transition: right .6s ease;
  display: none;
}
.nav_menu ul {
  width: 100%;
  padding-top: 80px;
}
.nav_menu ul li {
  text-align: right;
  padding-right: 10px;
  padding: 15px 30px;
}
.nav_menu ul a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  font-size: 20px;
  z-index: 310;
  width: auto;
}
.nav_menu ul a:after {
  content: '';
  display: block;
  position: absolute;
  top: 22px;
  right: -30px;
  z-index: -1;
  height: 1px;
  width: 20px;
  background: #ff3000;
  transition: width .3s ease;
}
.nav_menu ul a:hover:after {
  width: 150%;
  transition: width .4s ease;
}
.active-nav_menu {
  right: 0;
  transition: right .6s ease;
}

/* end of header nav_menu */

.close, .close:focus, .close:hover {
    opacity: 1;
}

/* mob menu  */
.menu-btn {
  position: absolute;
  top: 16px;
  right: 15px;
  height: 44px;
  width: 45px;
  cursor: pointer;
  display: none;
}
.menu-btn .line-1,
.menu-btn .line-2,
.menu-btn .line-3,
.menu-btn .line-4 {
  position: absolute;
}
.menu-btn .line-1 i,
.menu-btn .line-2 i,
.menu-btn .line-3 i,
.menu-btn .line-4 i {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
.menu-btn .line-1,
.menu-btn .line-3 {
  width: 100%;
  height: 1px;
}
.menu-btn .line-2,
.menu-btn .line-4 {
  width: 1px;
  height: 100%;
}
.menu-btn .line-1 {
  top: 0;
  left: 0;
}
.menu-btn .line-1 i {
  width: 0;
}
.menu-btn .line-2 {
  top: 0;
  right: 0;
}
.menu-btn .line-2 i {
  height: 0;
}
.menu-btn .line-3 {
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
}
.menu-btn .line-3 i {
  width: 0;
}
.menu-btn .line-4 {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
.menu-btn .line-4 i {
  height: 0;
}
.menu-btn span {
  position: absolute;
  top: 21px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: #fff;
}
.menu-btn span:after,
.menu-btn span:before {
  content: '';
  position: relative;
  display: block;
  height: 2px;
  background: #fff;
}
.menu-btn span:before {
  top: -7px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: top .3s, transform .5s;
  transition-delay: 0s, 0.5s;
}
.menu-btn span:after {
  bottom: -5px;
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: bottom .3s, transform .5s;
  transition-delay: 0s, 0.5s;
}
.menu-btn:after {
  display: block;
  position: absolute;
  text-transform: uppercase;
  left: -58px;
  margin-top: 15px;
  color: #fff;
}
.black span {
  background: #000;
}
.black span:after,
.black span:before {
  background: #000;
}
.black .line-1 i,
.black .line-2 i,
.black .line-3 i,
.black .line-4 i {
  background: #000;
}
.black:after {
  color: #000;
}
.menu-btn .line-1 i {
  width: 100%;
  transition: width .2s ease;
}
.menu-btn .line-2 i {
  height: 100%;
  transition: height .2s ease;
  transition-delay: .2s;
}
.menu-btn .line-3 i {
  width: 100%;
  transition: width .2s ease;
  transition-delay: .4s;
}
.menu-btn .line-4 i {
  height: 100%;
  transition: height .2s ease;
  transition-delay: .6s;
}
.open-menu span {
  background: transparent;
}
.open-menu span:before {
  top: 0px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open-menu span:after {
  bottom: 2px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
 }

.open span {
  background: transparent;
  transition: background .1s;
}
.open span:before {
  top: 0;
  transform: rotate(45deg);
}
.open span:after {
  bottom: 2px;
  transform: rotate(-45deg);
}
.close-btn {
  opacity: 1;
}
.close-btn span {
  background: #fff;
  transition: background .1s;
  transition-delay: .5s;
}
.close-btn span:before {
  top: -7px;
  transform: rotate(0);
  transition-delay: .3s;
}
.close-btn span:after {
  bottom: -5px;
  transform: rotate(0);
  transition-delay: .3s;
}

/* end of mob menu */

/* end of header */


/* header section */
.header-section {
   background: url("../img/bg_top-min.png") 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    height: 1636px;
    overflow: hidden;
}
/* end of header section */

/* front image section */
.front_img_section {
	position: relative;
	width: 100%;
}

.front_img {
    /*position: absolute;*/
    position: relative;
    top: -1363px;
    z-index: 3;
    width: auto;

}

.front_img_laptop {
	margin: 0 auto;
    width: 100%;
}

.front_img_mobile {
    right: 5%;
    top: 33%;
    position: absolute;
    z-index: 5;
    width: 18.5%;
}

/* end of front image section */

.title {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 24px;
	margin: 0 2%;
	padding: 0 3%;
}

.title_h2 {
	font-size: 30px;
    margin-top: 6%;
	margin-bottom: 2%;
}

.title_h3 {
	font-size: 18px;
}

/* line in two colors */
.long_line {
	content: "";
	width: 190px;
	height: 1px;
	background-color: white;
    position: absolute;
    margin: 0% 5%;
}

.small_line {
	width: 33px;
	height: 1px;
	background-color: #f9b233;
    position: absolute;
}

/* end of line in two colors */

.text_wrapper {
    margin: 0 2%;
}

.work_uae p, .large_section_img p  {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	margin: 3% 2%;
	padding: 0 3%;
}


/* work_uae section */
.work_uae {
	position: relative;
    margin-top: -1291px;
}


 .dot:before {
    position: relative;
    float: left;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #f9b233;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    margin: 1% -4%;
}
/* end of work_uae section */
/* our activity section */
.our_activity {
    padding: 2% 0;
}

.our_activity_img {
    width: 89%;
    margin: 0 auto;
}
/* end of our activity section */

/* large_img_section */
.large_section_img {
    position: relative;
    height: auto;
    padding-bottom: 4%;
}

.large_text_box {
    display: inline-block;
    float: left;
}


.maket_img {
    display: block;
    float: left;
    width: 50%;
}
.maket_img img {
    width: 100%;
}

.maket_text {
    display: inline-block;
    width: 40%;
    margin-left: 3%;
    float: left;
    height: 127px;
    overflow: hidden;
    vertical-align: middle;
}

.large_text_box  {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 5%;
}

.large_text_box h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin:  2% 2% 3%;
    padding: 0 3%;
}

.large_text_box p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 5%;
}

.text_right_side_box {
    overflow: hidden;
    display: block;
    margin: -0.8% 0;
}

.text_right_side_box .long_line {
    margin: 0% 2%;
}

.text_right_side_box figure {
    margin: 0;
    padding: 0;
}




.item_2 .maket_text, .item_3 .maket_text, .item_4 .maket_text, .item_5 .maket_text {
  padding-top: 3%;
}

/* end of large_img_section */


.footer_img_section {
        padding-top: 376px;
        padding-bottom: 202px;
        background: url(../img/bg_footer-min.png) center center no-repeat fixed;
        background-size: cover;
}

/* end of footer image */


/* bottom_section */
.bottom_item {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    text-align: center;
    padding: 6% 0;
}
/* end of bottom_section */

/* footer_bottom */
.bottom_section {
    padding-bottom: 4%;
}


.footer_btn {
    display: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    background: transparent;
    border: 1px solid #fff;
    padding: 1% 6%;
    cursor: pointer;
}

.footer_btn:hover, .footer_btn:hover {
    color: #f9b233;
    border: 2px solid #f9b233;
    transition: all .10s;
    
}
/* end of footer_bottom */



@media screen and (max-width: 1516px) {
    .container {
        width: 100%;
    }

}


@media screen and (max-width: 900px) {
    .maket_text {
        height: 83px;
    }
    .large_text_box h3 {
        line-height: 9px;
    }

    .large_text_box p {
        line-height: 16px;
    }
    .footer_img_section {
        padding-top: 0;
    }
    .front_img {
        top: -1476px;
        z-index: 3;
        width: auto;
    }

    .work_uae {
        margin-top: -1441px;
    }
}

@media screen and (max-width: 830px) {
    .large_text_box p {
        line-height: 18px;
        font-size: 14px;
        
    }
    .large_text_box h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 740px){
    header  nav {
        position: relative;
        height: 100%;
        width: 100%;
        background: #2e2e2e;
        padding-right: 0;
        margin-top: -200%;
        transition: all .3s;
        padding: 80px 15px 297px;
    }

    header nav ul {
        vertical-align: middle;
        z-index: 100;
        height: 100%;
    }

    header nav li {
        display: table;
        text-align: center;
        height: 83%;
        width: 100%;
    }

    header nav li span {
        display: none;
    }

    header nav li a {
        width: 100%;
        color: #c1c0c0;
        display: table-cell;
        vertical-align: middle;
        padding-top: 0;
        height: 100%;
        border-bottom: 1px solid #4d4d4d;
        font-weight: 600;
    }
    nav .active {
        text-decoration: underline;
    }
    header nav a {
        font-size: 15px;
    }
    header .open-menu {
        margin-top: 0%;
    }

    .menu-btn {
        display: block;
    }

}


@media screen and (max-width: 600px) {
    .text_right_side_box .long_line {
        width: 170px;
    }
    .large_text_box p {
        line-height: 20px;
    }

    .maket_img {
        width: 45%;
    }

    .maket_text {
        width: 50%;
    }

    .text_right_side_box {
        margin: -1.0% 0;   
    }

}



@media screen and (max-width: 530px) {
    .maket_img {
        width: 40%;
    }
    .maket_text {
        width: 53%;
    }
    .large_text_box p {
        line-height: 15px;
        font-size: 12px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    
    .large_text_box p:hover {
        white-space: normal;
    }

    .maket_text {
            height: 57px;
    }

    .front_img {
        top: -1556px;
        z-index: 3;
        width: auto;
    }

    .work_uae {
        margin-top: -1547px;
    }

    .large_box {
        margin-top: 9%;
    }
}

@media screen and (max-width: 450px) {
    .large_text_box h3 {
        font-size: 12px;
    }

    .large_text_box p {
        line-height: 13px;
        font-size: 11px;
    }

    .maket_text {
        padding-top: 0;
    }

    .container {
        width: 95%;
    }

    .maket_text {
        height: 48px;
    }
    .text_right_side_box figure {
        margin: -1px;
        padding: 0px;
    }
    
}

@media screen and (max-width: 400px) {
    .maket_text {
        height: 43px;
    }

    .maket_text:hover {
        height: 63px;
    }

    .large_text_box {
        padding-left: 2%;
    }

    .text_right_side_box .long_line {
        width: 150px;
    }
}

@media screen and (max-width: 370px) {
    .maket_text {
        height: 47px;
    }
    .large_text_box {
        padding-left: 0%;
    }
    .large_text_box h3 {
        line-height: 12px;
    }

    .maket_text:hover {
        height: 61px;
    }

    .footer_img_section {
        display: none;
    }
    .our_activity_img {
        width: 100%;
    }

    .work_uae, .main_page {
    margin-left: 2%;
    }

   .maket_text {
        width: 46%;
    }

    .maket_img {
        width: 43%;
    }
}

